@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italianno&display=swap);
@import "tailwindcss";

@layer utilities {
  .font-inter {
    font-family: 'Inter', sans-serif;
  }

  .font-italianno {
    font-family: 'Italianno', cursive;
  }

  .text-gradient-gold {
    @apply bg-clip-text text-transparent;
    background-image: linear-gradient(90deg,
        #dcc285,
        #be8e34,
        #e2c16f,
        #a1843d);
  }

  .beige-100 {
    color: #DCC285;
  }

  .text-brown-900 {
    color: #27180A
  }


}

@layer components {

  .swiper-button-next::after,
  .swiper-button-prev::after {
    @apply text-white text-xl;
  }

  .swiper-pagination-bullet {
    @apply bg-zinc-400 opacity-100;
  }

  .swiper-pagination-bullet-active {
    @apply bg-green-900;
  }
}