@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italianno&display=swap);

@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
  --gradient-gold: linear-gradient(90deg,
      #dcc285,
      #be8e34,
      #e2c16f,
      #a1843d);
}

@theme {
  --color-beige-100: #DCC285;
  --color-brown-900: #27180A;
}

@layer utilities {
  .font-inter {
    font-family: 'Inter', sans-serif;
  }

  .font-italianno {
    font-family: 'Italianno', cursive;
  }

  .text-gradient-gold {
    @apply bg-clip-text text-transparent;
    background-image: var(--gradient-gold) !important;
  }

  .gradient-gold-bg {
    background-image: var(--gradient-gold) !important;
  }
}

@layer components {
  .underline-gold {
    position: relative;
    display: inline-block;
  }

  .underline-gold::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.01em;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(90deg,
        #dcc285,
        #be8e34,
        #e2c16f,
        #a1843d);
    border-radius: 9999px;
  }

  .underline-gold-sm {
    position: relative;
    display: inline-block;
  }
  .underline-gold-sm::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.01em;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(90deg,
        #dcc285,
        #be8e34,
        #e2c16f,
        #a1843d);
    border-radius: 9999px;
  }

  /* SETAS */
  .swiper-button-next,
  .swiper-button-prev {
    @apply transition-transform transition-colors duration-300;
    color: #14532d !important;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    transform: scale(1.2);
  }

  @media (max-width: 1020px) {

    .swiper-button-next,
    .swiper-button-prev {
      display: none !important;
    }
  }

  /* PAGINATION */
  .swiper-pagination-bullet {
    background-color: #14532d !important;
    opacity: 0.5 !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #14532d !important;
    opacity: 1 !important;
  }
}